<div class="row header-box">
    <div class="col-md-2"><img class="img-responsive header-icon" src="assets/images/logo1.jpg"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-10"><input type="text" placeholder="Search movies" style="margin-top: 2%; min-width:100%" /></div>
            <div class="col-md-2">
                <button type="button" style="width:59%;margin-right:9%">Search</button>
                <i class="fas fa-bars" style="margin-top:18%;color:#ee5f27"></i>
            </div>
        </div>
        <app-nav-bar></app-nav-bar>
    </div>
</div>