@import "~@progress/kendo-theme-default/scss/all";

.header-box {
    width: 100%;
    background-color: darkslategray;
}

.header-icon {
  width: 95%;
}

.footer {
    background-color: darkslategray;
    text-align: center;
}